/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
*.nl.v
dependencies/*
.venv/
openlane/titan/runs/*
__pycache__
sim_build
results.xml

# temporarily ignore
def/
gds/
lef/
lib/
mag/
maglef/
sdc/
sdf/
signoff/
spef/
spi/
verilog/gl

__pycache__
sim_build
dependencies
